html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
    font-size: large;
    font-family: "DM Sans", sans-serif;
}
#videoBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.logo1 {
    position: absolute;
    width: 80px;
    top: 10px;
    left: 10px;
}

#welcomeMain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo2 {
    width: 300px;
}

.submit {
    background-color: black;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    height: 45px;
    width: 90px;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 13px 3px rgba(182, 179, 179, 0.548);
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
    padding: 10px;
}

.submit:hover {
    box-shadow: inset 0 0px 30px rgba(114, 112, 112, 0.548);
}

.submit:active {
    background-color: #fff;
    color: black;
    box-shadow: inset 0 0px 30px rgba(114, 112, 112, 0.548);
}

#upload {
    background-color: black;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    text-align: center;
    height: 45px;
    width: 90px;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 13px 3px rgba(182, 179, 179, 0.548);
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
    padding: 5px;
}

#upload:hover {
    box-shadow: inset 0 0px 30px rgba(114, 112, 112, 0.548);
}

#upload:active {
    background-color: #fff;
    color: black;
    box-shadow: inset 0 0px 30px rgba(114, 112, 112, 0.548);
}

#loginClick {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
}

#loginClick:hover {
    font-size: larger;
}

#loginClick:active {
    font-size: larger;
}

#changePwClick {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
    cursor: pointer;
}

#changePwClick:hover {
    font-size: larger;
}

#changePwClick:active {
    background-color: white;
    color: black;
    font-size: larger;
}

.save {
    background-color: black;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    height: 45px;
    width: 100px;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 13px 3px rgba(182, 179, 179, 0.548);
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
    padding: 10px;
}

.save:hover {
    box-shadow: inset 0 0px 30px rgba(114, 112, 112, 0.548);
}

.save:active {
    background-color: #fff;
    color: black;
    box-shadow: inset 0px 0px 30px rgba(114, 112, 112, 0.548);
}

#mysterious {
    text-decoration: none;
    color: white;
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
    cursor: pointer;
}

#mysterious:hover {
    font-size: larger;
}

#bioinfo {
    width: 400px;
    font-size: 1.1em;
    backdrop-filter: blur(20px);
    box-shadow: inset 20px 0px 200px rgba(44, 44, 43, 0.664);
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
}

#mandatory {
    font-size: 0.7em;
    margin-top: 10px;
    padding-right: 60px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 0;
    margin-right: 10px;
    font-size: 0.8em;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 3px white solid;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.reset-passwd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 2px white solid;
    margin-left: 20px;
    position: relative;
}

.image-pic {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
}

.bio-pic {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 2px white solid;
    margin-left: 20px;
    position: relative;
}

.large-image-pic {
    object-fit: contain;
    border-radius: 10px;
    position: absolute;
}

header {
    background-color: black;
}

.navbar {
    background-color: black;
    height: 120px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    color: white;
    align-self: flex-end;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
}

.nav-link:hover {
    font-size: larger;
}

.nav-link1 {
    color: white;
    text-decoration: none;
    align-self: flex-end;
    padding-left: 10px;
    padding-bottom: 17px;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
}

.nav-link1:hover {
    font-size: larger;
}

.close {
    align-self: flex-end;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

#modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    width: 30%;
    left: 35vw;
    top: 25vh;
    border-radius: 10px;
    border: 3px solid white;
    color: white;
    backdrop-filter: blur(20px);
}

.bio-pic {
    width: 350px;
    height: 350px;
    margin-right: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 2px white solid;
    margin-left: 20px;
    position: relative;
}

.large-image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
}

.large-image-pic:hover {
    cursor: pointer;
}

#hello {
    margin-left: 20px;
}

#othername {
    padding-left: 20px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.otherprofile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#otherbio {
    width: 400px;
    font-size: 1.1em;
    padding: 15px 5px 15px 15px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    box-shadow: inset 20px 0px 200px rgba(44, 44, 43, 0.664);
}

textarea {
    background: transparent;
    border: 2px white solid;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    width: 300px;
    height: 200px;
    font-family: "DM Sans", sans-serif;
    font-size: 0.9em;
    padding: 10px;
    color: white;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }

    #welcomeMain {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }

    #welcomeMain {
        width: 100vw;
        height: 100vh;
    }
}
