html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
    font-size: large;
    font-family: "DM Sans", sans-serif;
}
#videoBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.logo1 {
    position: absolute;
    width: 100px;
    top: 10px;
    left: 10px;
}

#welcomeMain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo2 {
    width: 300px;
}

#submit {
    background-color: black;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
    height: 45px;
    width: 90px;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 13px 3px rgba(182, 179, 179, 0.548);
    transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
    padding: 10px;
}

#submit:hover {
    box-shadow: inset 0 0px 30px rgba(114, 112, 112, 0.548);
}

#submit:active {
    background-color: #fff;
    color: black;
    box-shadow: inset 0 0px 30px rgba(114, 112, 112, 0.548);
}

#loginClick {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}

#loginClick:hover {
    background-color: black;
    color: white;
}

#loginClick:active {
    background-color: white;
    color: black;
}

#mandatory {
    font-size: 0.7em;
    margin-top: 10px;
    padding-right: 60px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 0;
    margin-right: 10px;
    font-size: 0.8em;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 3px white solid;
    border-radius: 10px;
}

.reset-passwd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: fixed;
    top: 10px;
    right: 10px;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }

    #welcomeMain {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }

    #welcomeMain {
        width: 100vw;
        height: 100vh;
    }
}
